<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aadhar">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <meta-data
        android:name="com.google.mlkit.vision.DEPENDENCIES"
        android:value="ica,ocr,face" />
    <!-- To use multiple models: android:value="ica,model2,model3" -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>
